<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catch a Pokemon!</title>

    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">

</head>
<body>
    <h1>New Pokemon Page</h1>
    <nav>
        <a href="/pokemon">Home Page</a>
    </nav>
    <br>

    <form action="/pokemon" method="POST">
        Name: <input type="text" name="name" />
        Image Url: <input type="text" name="img" />
        <input type="submit" value="Catch Pokemon" />
    </form>
</body>
</html>