<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Page</title>

    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Kufam&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Teams Home Page</h1>

    <nav>
        <a href="/players">Trainers Page</a>
        <a href="/players/signup">Sign Up</a>
        <a href="/players/login">Login</a>
        <a href="/teams"  class='current-page'>Teams</a>
    </nav>
</body>
</html>